<!DOCTYPE html>
<html>
<head>
    <title>Welcome Page</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="/static/script.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="/logout">Logout</a></li>
            </ul>
        </nav>
    </header>

    <h1>Welcome, {{ username }}!</h1>
    <p>This is the next page after successful login.</p>
</body>
</html>
