<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Dropdown Events</title>

   <!-- <script src="project3.js"></script> -->
    <script src="https://d3js.org/d3.v5.min.js"></script>
    <!-- load plotly  -->
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <!-- load teacher wrangle javascript -->
    <!-- <script src="../test.js"></script> -->
    <script src="../teacherScript.js"></script>

</head>



<body>

    <div class="container">
      <div class="row">
        <div class="col-md-12 jumbotron text-center">
          <h1>Teacher Dashboard of Student Writing Performance</h1>
          <p>Use the interactive charts to get a better sense of students' writing performance.</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-2">
          <div class="well"> 
            <h5>Student Name</h5>
            <select id="selDataset" onchange="optionChanged(this.value)"></select>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">
              <h3 class="panel-title">Demographic Info</h3>
            </div>
            <div id="sample-metadata" class="panel-body"></div>
          </div>
        </div>
        <div class="col-md-5">
          <div id="bar"></div>
        </div>
        <div class="col-md-5">
          <div id="gauge"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="bubble"></div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <div id="table"></div>
        </div>
      </div>
    </div>
  



    <!-- load d3 -->

    
  </body>
  
  </html>
  
