<!DOCTYPE html>
<meta charset="utf-8">

<html xmlns ="html">
    <head>
        <title> Visulization Meadley</title>
    <head>

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>

<!-- Load d3-cloud -->
<script src="https://cdn.jsdelivr.net/gh/holtzy/D3-graph-gallery@master/LIB/d3.layout.cloud.js"></script>

<!-- Create a div where the graph will take place -->
    <body>
         <div class = "container">
            <h3>Word Cloud</h3>
            <div id="wordcloud"></div>
         </div>

<!-- Our JavaScript file -->
<script type="text/javascript" src="../static/js/word_cloud.js"></script>

    </body>
</html>

